@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 3) + em
                 (-.5+(random()) * 3) + em
                 7px
                 hsla(random() * 360, 100%, 50%,.9);
  }
  text-shadow: $text-shadow;
}

html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}


body::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/* :root */
:root {
  --background: #123;
  --primaryTextColor: #e5e5e5;
  --secundaryTextColor: #e5e512;
  --highlightTextColor: #0fa8cd;
  --white: #fff;
  --baseDirectory: "MynameisDell@Terminal:~$";
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  /* min-width: 550px; */
  height: 100%;
  color: var(--primaryTextColor);
  text-shadow: 0 0 1px var(--secundaryTextColor);
  background: var(--background);
  font-family: cursor, monospace;
  overflow-x: hidden;
  position: relative; /* Thêm thuộc tính position relative */
}

/* Hiệu ứng sao băng */
@keyframes shootingStar {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.star {
  position: absolute;
  top: -50px; /* Điểm bắt đầu từ trên cùng của màn hình */
  left: -10px; /* Điểm bắt đầu từ trái của màn hình */
  width: 2px;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%);
  animation: shootingStar 3s linear infinite; /* Điều chỉnh tốc độ rơi */
}

/* Thêm sao băng vào background */
@for $i from 1 through 30 { /* Số sao băng */
  .star:nth-child(#{$i}) {
    top: random() * 100%; /* Random vị trí xuất hiện từ trên cùng của màn hình */
    left: random() * 100%; /* Random vị trí xuất hiện từ trái của màn hình */
    animation-delay: random() * 10s; /* Random thời gian delay */
  }
}

::selection {
  color: var(--background);
  background-color: var(--primaryTextColor);
}

::-moz-selection {
  color: #211830;
  background-color: var(--primaryTextColor);
}

textarea {
  position: absolute;
  left: -100vw;
  background-color: var(--background);
  border: none;
  color: white;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

/* Cursor Start */
.cursor {
  font-size: 0.75rem;
  color: var(--secundaryTextColor);
  background-color: var(--secundaryTextColor);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: var(--secundaryTextColor);
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: var(--highlightTextColor);
  content: var(--baseDirectory);
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */

/* Paragraph Styles */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

.no-animation {
  animation: none !important;
}

.typing-animation {
  animation: typing 0.5s steps(30, end);
}

.margin {
  margin-left: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.index {
  color: #DCDCCC;
}

.highlightColor {
  color: var(--highlightTextColor);
}

.command {
  color: var(--secundaryTextColor);
  text-shadow: 0 0 5px var(--secundaryTextColor);
}

.error {
  color: var(--highlightTextColor);
}

.white {
  color: var(--white);
}

.inherit,
a {
  color: #9C8394;
}

a {
  text-decoration: inherit;
}

a:hover {
  background: var(--secundaryTextColor);
  color: var(--background);
}

a:focus {
  outline: 0;
}

#mobileInput {
  display: none;
}

@media (max-width: 600px) {
  body {
    padding: 0.5rem 0.8rem;
    overflow-x: auto;
  }

  #cursor {
    display: none;
  }

  textarea {
    display: none;
  }

  .cursor {
    display: none;
  }

  #mobileInput {
    display: block;
  }

  #mobileInput input {
    border: none;
    background-color: var(--background);
    width: 85%;
    color: var(--primaryTextColor);
    font-family: monospace;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    vertical-align: middle;
  }

  #mobileInput::before {
    content: ">";
    color: var(--primaryTextColor);
    margin-right: 10px;
  }

  #terminal {
    font-size: small;
  }
}
