@import compass;

// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

}

::selection {
  color: var(--background);
  background-color: var(--primaryTextColor);
}

::-moz-selection {
  color: #211830;
  background-color: var(--primaryTextColor);
}

textarea {
  position: absolute;
  left: -100vw;
  background-color: var(--background);
  border: none;
  color: white;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

/* Cursor Start */
.cursor {
  font-size: 0.75rem;
  color: var(--secundaryTextColor);
  background-color: var(--secundaryTextColor);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command {
  cursor: text;
  height: 50px;
  color: var(--secundaryTextColor);
}

#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

#liner::before {
  color: var(--highlightTextColor);
  content: var(--baseDirectory);
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */

p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

.no-animation {
  animation: none !important;
}

.typing-animation {
  animation: typing 0.5s steps(30, end);
}

.margin {
  margin-left: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.index {
  color: #DCDCCC;
}

.highlightColor {
  color: var(--highlightTextColor);
}

.command {
  color: var(--secundaryTextColor);
  text-shadow: 0 0 5px var(--secundaryTextColor); 
}

.error {
  color: var(--highlightTextColor);
}

.white {
  color: var(--white);
}

.inherit,
a {
  color: #9C8394;
}

a {
  text-decoration: inherit;
}

a:hover {
  background: var(--secundaryTextColor);
  color: var(--background);
}

a:focus {
  outline: 0;
}

#mobileInput {
  display: none;
}

@media (max-width: 600px) {
  body {
    padding: 0.5rem 0.8rem;
    overflow-x: auto;
  }

  #cursor {
    display: none;
  }

  textarea {
    display: none;
  }

  .cursor {
    display: none;
  }

  #mobileInput {
    display: block;
  }

  #mobileInput input {
    border: none;
    background-color: var(--background);
    width: 85%;
    color: var(--primaryTextColor);
    font-family: monospace;
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    vertical-align: middle;
  }

  #mobileInput::before {
    content: ">";
    color: var(--primaryTextColor);
    margin-right: 10px;
  }

  #terminal {
    font-size: small;
  }
}
